---
---

// colors
[data-dark="false"] {
  --primary: #B7ADCF;
  --secondary: #822d8d;
  --text: #000000;
  --background: #EFEFEF;
  --background-alt: #F4FAFF;
  --light-gray: #e0e0e0;
  --gray: #808080;
  --dark-gray: #404040;
  --overlay: #00000020;
}
[data-dark="true"] {
  --primary: #7E78D2;
  --secondary: #6F58C9;
  --text: #EFEFEF; 
  --background: #535657;
  --background-alt: #272D2D;
  --light-gray: #404040;
  --gray: #808080;
  --dark-gray: #b0b0b0;
  --overlay: #ffffff10;
}

:root {
  // font families
  --title: "Junge", serif;
  --heading: "Castoro Titling", serif;
  --body: "Montserrat", sans-serif;
  --code: "Roboto Mono", monospace;

  // font sizes
  --large: 1.2rem;
  --xl: 1.4rem;
  --xxl: 1.6rem;

  // font weights
  --thin: 200;
  --regular: 400;
  --semi-bold: 500;
  --bold: 600;

  // text line spacing
  --spacing: 2;
  --compact: 1.5;

  // effects
  --rounded: 3px;
  --shadow: 0 0 10px 0 var(--overlay);
  --transition: 0.2s ease;
}
